<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>0. Traverse BinaryTree.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>1. Two Sum.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>1013. Partition Array Into 3 Parts With Equal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>141. Linked List Cycle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>206. Reverse Linked List.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>300. Longest Increasing Subsequence.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>322. Coin Change.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>344. Reverse String.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>347. Top K Frequent Elements.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>50. Pow(x, n).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>70. Climbing Stairs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>77. Combinations.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>8. Atoi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>8. String to Integer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>98. Validate Binary Search Tree.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Fibonacci.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>RangeSumOfBST.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Sort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>ToLowerCase.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>UniqueEmailAddresses.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6727600B2233B2EC00953C66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6734F6A3222D47AE0085DD86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6734F6AE222D48B00085DD86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>677903BB2227F64D00B7837C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>677903C7222801DC00B7837C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>679509F02293F50300D1CCC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67B61257225F4FBE007ED741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67BA43752227CF4900589074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67BFA79222805F9300021605</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67C12931226DB2BA00403640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67C1293C226DBB1D00403640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67C12947226DD3F800403640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67CE2B2B227073AA0045A7B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67D8478F21E9A0B2009D21C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67EE8ADF22671FDF00534697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>801B2D3E226CC13C008E7CAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
